@charset "Shift_JIS";

/*--------------------------------------------------------
  共通レイアウトパーツ設定
--------------------------------------------------------*/
/* フッター内パーツ */
#hpb-footerMain {
}

#hpb-footerMain p{
    /* コピーライト文字設定 */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    font-size: 1em;
    text-align: center;
    line-height: 40px;
    color: #666666;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #666666;
}

#hpb-footerLogo {
}

#hpb-footerExtra1 {
}

#hpb-footerExtra2 {
}

/* サイドブロック内パーツ */

/* バナー */
#banner{
    overflow: hidden;
}

#banner ul{
    margin-top: 9px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

#banner li{
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#banner li a{
    display: block;
    height: 65px;
    text-indent: -9999px;
    overflow: hidden;
}

#banner a#banner-time{
    /* 診療時間バナー */
    background-image : url(banner_3A_011112.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#banner a#banner-access{
    /* アクセスバナー */
    background-image : url(image/ps1000A.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}


/* 店舗情報 */
#shopinfo{
    width: 180px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #E95398;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #E95398;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E95398;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #E95398;
}

#shopinfo h3{
    color: #E95398;
    font-size: 1.0em;
    text-align: left;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

#shopinfo span.ja{
    display: none;
}

#shopinfo p{
    padding-top: 0;
    margin-top: 0.1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2em;
    line-height: 1.5;
}

/*--------------------------------------------------------
  ナビゲーションデザイン設定
--------------------------------------------------------*/

#hpb-nav li a {
    /* ナビゲーション文字設定 */
}


/*--------------------------------------------------------
  基本パーツデザイン設定
--------------------------------------------------------*/

/* リンク文字色 */
a:link{
    color: #FF9900;
    text-decoration: underline;
}
a:visited{
    color: #FF9900;
    text-decoration: underline;
}
a:hover{
    color: #81BA32;
    text-decoration: none;
}
a:active{
    color: #81BA32;
    text-decoration: none;
}

#hpb-skip{
    /* ヘッダースキップの非表示 */
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
}

p{
    margin-top: 0.5em;
    margin-bottom: 2em;
    padding-right: 0.1em;
    padding-left: 0.1em;
    line-height: 1.4;
    text-align: left;
}

p.large{
    margin-bottom: -0.5em;
}
p.indent{
    padding-left: 15px;
    background-image : url(point_3A.png);
    background-position: 3px 4px;
    background-repeat: no-repeat;
}

.left{
    float: left;
}
.right{
    float: right;
}

hr{
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    clear: both;
    border-top-width: 1px;
    border-top-style: none;
    border-right-width: 1px;
    border-right-style: none;
    border-left-width: 1px;
    border-left-style: none;
    color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: none;
}

.hpb-layoutset-02 h2{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #BC1862;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #BC1862;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #BC1862;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    height: 45px;
    text-align: left;
    overflow: hidden;
    line-height: 45px;
}

.hpb-layoutset-02 h2 span.ja{
    font-size: 1em;
    color: #E95398;
    padding-right: 0;
    padding-left: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.hpb-layoutset-02 h2 span.en{
    font-size: 0.8em;
    color: #EE7BAF;
    font-weight: normal;
    padding-left: 15px;
    text-transform: capitalize;
    font-weight: normal;
}

#hpb-wrapper h3{
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    font-size: 1.5em;
    line-height: 18px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E95398;
    text-align: left;
    color: #E95398;
}

#hpb-wrapper h3 span.en{
    padding-right: 10px;
    text-transform: capitalize;
    font-family: Arial,Helvetica,Verdana,sans-serif;
}

#hpb-wrapper h3 span.ja {
}

h3.hpb-c-index{
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
    background: none;
    border-bottom-style: none;
}

h4{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 0;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.2;
    font-weight: bold;
    color: #F08EBA;
}

h5{
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    text-align: left;
    background-image : url(point_3A.png);
    background-position: 3px 7px;
    background-repeat: no-repeat;
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: normal;
}

table{
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: 0;
    border-collapse: collapse;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #dddddd;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #dddddd;
}

table th{
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    text-align: left;
    background-color: #F49FC4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #dddddd;
    color: #FFFFFF;
}

table td{
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    text-align: left;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #dddddd;
}

/* フォームパーツ設定 */
input.button{
    margin-top: 10px;
    margin-bottom: 15px;
}

textarea{
    width: 380px;
    height: 200px;
}

input.l{
    width: 380px;
}
input.m{
    width: 250px;
}
input.s{
    width: 50px;
}


/* メインコンテンツ内基本パーツ */

#hpb-main ul{
    float: left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #E6E6E6;
}

#hpb-main ul li{
    text-align: left;
    line-height: 1.4;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 480px;
    background-image : url(point_3A.png);
    background-position: 13px 12px;
    background-repeat: no-repeat;
}

#hpb-main dl{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

#hpb-main dt{
    float: left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: left;
    line-height: 1.4;
    font-weight: normal;
    width: 9em !important;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 2px;
    padding-left: 15px;
    background-image : url(point_3A.png);
    background-position: 3px 10px;
    background-repeat: no-repeat;
}

#hpb-main dd{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 2px;
    text-align: left;
    line-height: 1.4;
    padding-left: 11em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
}

* #hpb-main dd{
    height: 1%; /* for IE6 */
}

#hpb-main dl:after{
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#hpb-main img.left{
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

#hpb-main img.right{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    float: right;
}

#pagetop{
    clear: left;
    float: right;
    padding-top: 10px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-left: 5px;
}

#pagetop a{
    /* ページの先頭へのリンク設定 */
    display: block;
    margin-left: 0;
    margin-right: auto;
    margin-top: 20px;
    background-image : url(returnTop_3A.png);
    background-position: center left;
    background-repeat: no-repeat;
    width: 132px;
    height: 17px;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
}


/* トップページ デザイン定義 */
.hpb-layoutset-01 #hpb-title h2{
    width: 670px;
    font-size: 1.3em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0;
    margin-bottom: 0;
    overflow: hidden;
    color: #E95398;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #E6E6E6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E6E6E6;
}

#toppage-news{
    padding-bottom: 5px;
}

#toppage #toppage-news h3{
    border-bottom-width: 0px;
    border-bottom-style: none;
    padding-top: 20px;
    padding-right: 30px;
    margin-bottom: 0px;
    float: left;
    min-height: 136px;
}

* html #toppage #toppage-news h3{
    width: 120px;
    height: 136px;
}

#toppage-news h3 span.en{
    display: block;
    margin-top: 0px;
    margin-left: 15px;
    font-size: 13px;
    font-weight: normal;
    color: #E95398;
    text-transform: uppercase;
}

#toppage-news h3 span.ja{
    display: block;
    font-size: 16px;
    height: 35px;
    margin-top: -35px;
    padding-left: 10px;
    padding-top: 0px;
    color: #333333;
    font-weight: normal;
    margin-bottom: 0;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #E95398;
}

#toppage-news h4{
    color: #E95398;
    padding-top: 3px;
}

/* 治療方針ページ デザイン定義 */
#flow{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    zoom: 1;
}

#flow li{
    display: block;
    background-image : url(arrow_3A.png);
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 38px;
    padding-bottom: 15px;
    padding-left: 150px;
    list-style-type: none;
    line-height: 1.5;
}

* html #flow li{
    padding-left: 300px; /* for IE6 */
}

#flow li:first-child{
    background-image: none;
    padding-top: 10px;
}

#flow li h4{
    float: left;
    width: 150px;
    margin-left: -150px;
    margin-top: -3px;
    text-align: center;
}

